*{
    font-size: 62.5%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    height: 15rem;
}
a{
    text-decoration: none;
    font-size: 3rem;
    color: cadetblue;
}

.menu{
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item{
    font-size: 3rem;
    background-color: aqua;
    text-decoration: none;
    list-style-type: none;
    padding: 1rem;
    margin: 0.5rem;
}
#logo{
    height: 10rem;
    margin-left: 5rem;
    padding: 0.1rem;

}