<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pizzería - El Manjar</title>
		<link href="../assets/iconPizza.jpg" rel="icon" />
			
		<link rel="stylesheet" href="../styles/normalize.css" />
			
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap" rel="stylesheet">

		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/styles-promociones.css" />
	</head>

	<body>
		<header>
			<input type="checkbox" id="btn-menu">
			<label for="btn-menu"><span class="material-icons outlined" id="btn-menu-hamburguesa">menu</span></label>
			<a href="../index.html"><img src="../assets/logoPizzeria.png" alt="logotipo" id="logotipo"></a>

			<nav class="menu">
				<ul>
					<li><a href="../views/promociones.html" class="navURL">Promociones</a></li>
					<li><a href="../views/menu.html" class="navURL">Menú</a></li>
					<li><a href="../views/sucursales.html" class="navURL">Sucursales</a></li>
					<li><a href="../views/recetas.html" class="navURL">Recetas</a></li>
					<li><a href="../views/contacto.html" class="navURL">Contacto</a></li>
					<li><a href="../views/carrito.html" class="navURL" id="linkCarrito"><span class="material-icons outlined" id="carrito">delivery_dining</span></a></li>
				</ul>
			</nav>
		</header>

		<main>
			<fieldset>
				<legend>Nuestras Promociones</legend>
				<section id="menuses">
					<section class="sect-main">
						<div class="titulos-menus">
							<h1>Promo 1</h1>
							<img src="../assets/promos/promo-1.jpg" alt="Error al cargar la foto" class="img-responsive">
						</div>
							
						<div class="div-main">
							<h2>Pizza grande de Muzzarela <br>+ cerveza de 1 litro</h2>
						</div>
					</section>

					<section class="sect-main">
						<div class="titulos-menus">
							<h1>Promo 2</h1>
							<img src="../assets/promos/promo-2.jpg" alt="Error al cargar la foto" class="img-responsive">
						</div>
							
						<div class="div-main">
							<h2>Pizza grande de Fugazzeta <br>+ cerveza de 1 litro</h2>
						</div>
					</section>

					<section class="sect-main">
						<div class="titulos-menus">
							<h1>Promo 3</h1>
							<img src="../assets/promos/promo-3.jpg" alt="Error al cargar la foto" class="img-responsive">
						</div>
						
						<div class="div-main">
							<h2>4 pizzas grandes de cualquier gusto</h2>
						</div>
					</section>

					<section class="sect-main">
						<div class="titulos-menus">
							<h1>Promo 4</h1>
							<br>
							<img src="../assets/promos/promo-4.jpg" alt="Error al cargar la foto" class="img-responsive">
						</div>
							
						<div class="div-main">
							<h2>1 docena de empanadas</h2>
						</div>
					</section>
					
					<section class="sect-main">
						<div class="titulos-menus">
							<h1>Promo 5</h1>	
							<img src="../assets/promos/promo-5.jpg" alt="Error al cargar la foto" class="img-responsive">
						</div>
							
						<div class="div-main">
							<h2>Pizza grande de Muzzarela + media docena de empanadas</h2>
						</div>
					</section>
					
					<section class="sect-main">
						<div class="titulos-menus">
							<h1>Promo 6</h1>
							<br>
							<img src="../assets/promos/promo-6.jpg" alt="Error al cargar la foto" class="img-responsive">
						</div>
							
						<div class="div-main">
							<h2>Pizza grande de Muzzarela + 1 docena de empanadas</h2>
						</div>
					</section>
				</section>
			</fieldset>
		</main>

		<footer>
			<section id="redes">
				<h3>Síguenos en:</h3>
				<div id="btn-redes">
					<a href="https://www.facebook.com/" target="_blank" class="icon-redes"><i class="fab fa-facebook-square"></i></a>
					<a href="https://twitter.com/" target="_blank" class="icon-redes"><i class="fab fa-twitter-square"></i></a>
					<a href="https://www.instagram.com/" target="_blank" class="icon-redes"><i class="fab fa-instagram-square"></i></a>
				</div>
				</section>
		
			<section id="derechos">
			<p>Pizzerías El Manjar 2021</p>
			<p>Todos los derechos reservados©</p>
			</section>
		
			<a href="https://wa.me/5491158277881" target="_blank" class="material-icons outlined" id="btn-wapp">whatsapp</a>
		</footer>
		<script src="https://kit.fontawesome.com/48e5edb65c.js" crossorigin="anonymous"></script>
	</body>
</html>