<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pizzería - El Manjar</title>
		<link href="../assets/iconPizza.jpg" rel="icon" />
		
		<link rel="stylesheet" href="../styles/normalize.css" />
		
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		
		<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" href="../styles/styles.css" />
		<link rel="stylesheet" href="../styles/styles-recetas.css">
	</head>

	<body>
		<header>
			<input type="checkbox" id="btn-menu">
			<label for="btn-menu"><span class="material-icons outlined" id="btn-menu-hamburguesa">menu</span></label>
			<a href="../index.html"><img src="../assets/logoPizzeria.png" alt="logotipo" id="logotipo"></a>

			<nav class="menu">
				<ul>
					<li><a href="../views/promociones.html" class="navURL">Promociones</a></li>
					<li><a href="../views/menu.html" class="navURL">Menú</a></li>
					<li><a href="../views/sucursales.html" class="navURL">Sucursales</a></li>
					<li><a href="../views/recetas.html" class="navURL">Recetas</a></li>
					<li><a href="../views/contacto.html" class="navURL">Contacto</a></li>
					<li><a href="../views/carrito.html" class="navURL" id="linkCarrito"><span class="material-icons outlined" id="carrito">delivery_dining</span></a></li>
				</ul>
			</nav>
		</header>

		<main>
			<h1 id="tituloPpal">Nuestras recetas</h1>

			<section>
				<fieldset class="fieldsetRecetas">
					<legend class="legendRecetas">
						<h2>Fugazza y Fugazzeta</h2>
					</legend>
					<iframe class="videoRecetas" src="https://www.youtube.com/embed/1k2vHejpVzU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h3 class="ingredientes">Ingredientes</h3>
					<dl>
						<dt>Masa para 2 pizzas:</dt>
							<dd>500 gr de harina 000 o harina común de todo uso</dd>
							<dd>300 ml de agua tibia</dd>
							<dd>1 cda de levadura seca (5 gramos) o 25 gr de levadura fresca</dd>
							<dd>1 cdta de sal (6 gr)</dd>
							<dd>1 cdta de azúcar</dd>
							<dd>2 cds de aceite de girasol</dd>
						<dt>Para la Cubierta:</dt>
							<dd>4 cebollas grandes (500 gr apox)</dd>
							<dd>200 gr de Muzzarella</dd>
							<dd>Orégano</dd>
							<dd>Pimienta negra molida</dd>
							<dd>Aceite de Oliva</dd>
							<dd>Sal entrefina</dd>
					</dl>
				</fieldset>
			</section>

			<section>
				<fieldset class="fieldsetRecetas">
					<legend class="legendRecetas">
						<h2>Pizza Casera de Doña Petrona</h2>
					</legend>
					<iframe class="videoRecetas" src="https://www.youtube.com/embed/zTEQxwQAeMk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h3 class="ingredientes">Ingredientes</h3>
					<dl>
						<dt>Masa para 2 pizzas:</dt>
							<dd>500 gr de Harina común 000 (Harina de media fuerza para pan o harina común)</dd>
							<dd>25-50 gr de Levadura de cerveza ó 5 gr de levadura seca</dd>
							<dd>250 ml de Agua tibia (más 6 cdas para disolver la levadura)</dd>
							<dd>2 Cdas de Aceite</dd>
							<dd>1 Cdta de Sal</dd>
						<dt>Para la salsa:</dt>
							<dd>600 gr de Tomates pelados al natural</dd>
							<dd>1 Cebolla</dd>
							<dd>6 Fillets de anchoas</dd>
							<dd>20 Aceitunas verdes o negras</dd>
							<dd>1/2 taza de aceite (90 gr)</dd>
							<dd>1 Cdta de Ají picante molido</dd>
							<dd>1 Cdta de Orégano</dd>
							<dd>1/2 Cdta de Sal</dd>
						<dt>400 gr de Queso Cremoso o Cuartirolo</dt>
					</dl>
				</fieldset>
			</section>

			<section>
				<fieldset class="fieldsetRecetas">
					<legend class="legendRecetas">
						<h2>Pizza casera tipo Napolitana</h2>
					</legend>
					<iframe class="videoRecetas" src="https://www.youtube.com/embed/UGj7J08snqw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h3 class="ingredientes">Ingredientes</h3>
					<dl>
						<dt>Para la masa</dt>
							<dd>800gr de Harina 0000</dd>
							<dd>1/2 Litro de Agua</dd>
							<dd>25 gr de Sal fina (1 cda colmada)</dd>
							<dd>10 gr de Azúcar (1 cda al raz)</dd>
							<dd>25 gr de Aceite de Oliva (2 cdas)</dd>
							<dd>1.5 gr de Levadura Fresca</dd>
						<dt>Para la salsa:</dt>
							<dd>1 Lata de tomates al natural</dd>
							<dd>1 Cda de Aceite de Oliva</dd>
							<dd>1 Cdta de Sal</dd>
							<dd>2 Hojas de Albahaca fresca</dd>
					</dl>
				</fieldset>
			</section>

			<section>
				<fieldset class="fieldsetRecetas">
					<legend class="legendRecetas">
						<h2>Empanadas fritas</h2>
					</legend>
					<iframe class="videoRecetas" src="https://www.youtube.com/embed/hfSDho4gHP8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h3 class="ingredientes">Ingredientes</h3>
					<dl>
						<dt>Para la masa (12 empanadas):</dt>
							<dd>350 gr harina común (Pueden hacerse con 500 gr de harina común si no quieren usar sémola)</dd>
							<dd>150 gr harina de sémola</dd>
							<dd>15 gr levadura fresca (5 gr levadura instantánea)</dd>
							<dd>150 ml de leche</dd>
							<dd>150 ml de agua (temp ambiente)</dd>
							<dd>10 gr de sal</dd>
							<dd>10 gr azúcar</dd>
							<dd>1 cda Aceite de Oliva</dd>
						<dt>Relleno de Tomate y Mozzarella:</dt>
							<dd>250 gr queso mozzarella </dd>
							<dd>100 gr puré de tomates/dd>
							<dd>2 cdas queso parmesano rallado</dd>
							<dd>1 pizca de orégano seco</dd>
							<dd>sal y pimienta negra molida</dd>
						<dt>Relleno de Carne:</dt>
							<dd>250 gr carne molida</dd>
							<dd>1/2 cebolla</dd>
							<dd>1/2 vasito de vino blanco (60 ml)</dd>
							<dd>100 gr de queso mozzarella</dd>
							<dd>sal y pimienta negra molida</dd>
					</dl>
				</fieldset>
			</section>

			<section>
				<fieldset class="fieldsetRecetas">
					<legend class="legendRecetas">
						<h2>Empanadas Criollas de Carne</h2>
					</legend>
					<iframe class="videoRecetas" src="https://www.youtube.com/embed/ReLmJMf6jLQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					<h3 class="ingredientes">Ingredientes</h3>
					<dl>
						<dt>Para la Masa (24 discos):</dt>
							<dd>500 gr de Harina Común (0000 o 000)</dd>
							<dd>75 gr de Grasa de Pella</dd>
							<dd>1 Cdta de Sal</dd>
							<dd>240 cc de Agua Caliente</dd>
						<dt>Relleno para dos docenas:</dt>
							<dd>500 gr de Carne picada de res</dd>
							<dd>500 gr de Cebolla blanca común</dd>
							<dd>½ Morrón rojo (120 gr)</dd>
							<dd>65 gr de Grasa de Pella (vacuna)</dd>
							<dd>1 Cdta de Orégano</dd>
							<dd>½ Cdta de Comino</dd>
							<dd>½ Cdta de Ají Molido</dd>
							<dd>1 Cda de Pimentón dulce</dd>
							<dd>1 Cdta de Sal</dd>
						<dt>Grasa o Aceite para freír: Cantidad necesaria</dt>
					</dl>
				</fieldset>
			</section>
		</main>

		<footer>
			<section id="redes">
				<h3>Síguenos en:</h3>
				<div id="btn-redes">
					<a href="https://www.facebook.com/" target="_blank" class="icon-redes"><i class="fab fa-facebook-square"></i></a>
					<a href="https://twitter.com/" target="_blank" class="icon-redes"><i class="fab fa-twitter-square"></i></a>
					<a href="https://www.instagram.com/" target="_blank" class="icon-redes"><i class="fab fa-instagram-square"></i></a>
				</div>
				</section>
		
			<section id="derechos">
			<p>Pizzerías El Manjar 2021</p>
			<p>Todos los derechos reservados©</p>
			</section>
		
			<a href="https://wa.me/5491158277881" target="_blank" class="material-icons outlined" id="btn-wapp">whatsapp</a>
		</footer>
		<script src="https://kit.fontawesome.com/48e5edb65c.js" crossorigin="anonymous"></script>

	</body>
</html>