<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pizzería - El Manjar</title>
        <link href="../assets/iconPizza.jpg" rel="icon" />
        
        <link rel="stylesheet" href="../styles/normalize.css" />
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        
        <script src="https://kit.fontawesome.com/48e5edb65c.js" crossorigin="anonymous"></script>

        
        <link rel="stylesheet" href="../styles/styles.css" />
        <link rel="stylesheet" href="../styles/sucursales.css">
    </head>
    <body>
        <header>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu"><span class="material-icons outlined" id="btn-menu-hamburguesa">menu</span></label>
            <a href="../index.html"><img src="../assets/logoPizzeria.png" alt="logotipo" id="logotipo"></a>

            <nav class="menu">
                <ul>
                    <li><a href="../views/promociones.html" class="navURL">Promociones</a></li>
                    <li><a href="../views/menu.html" class="navURL">Menú</a></li>
                    <li><a href="../views/sucursales.html" class="navURL">Sucursales</a></li>
                    <li><a href="../views/recetas.html" class="navURL">Recetas</a></li>
                    <li><a href="../views/contacto.html" class="navURL">Contacto</a></li>
                    <li><a href="../views/carrito.html" class="navURL" id="linkCarrito"><span class="material-icons outlined" id="carrito">delivery_dining</span></a></li>
                </ul>
            </nav>
        </header>

      <main>
        <div class="container-succentral">
          <div class="titulo">
            <legend class="legend"><h1>Sucursal principal</h1></legend>
            </div> 
          <div class="suc-central">
          <iframe id="mapa-ppal" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.00945660492!2d-58.38546878544501!3d-34.6039223804594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccac5f4333125%3A0xb8028dd738232a8d!2sAv.%20Corrientes%201174%2C%20C1043%20AAY%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1635520409155!5m2!1ses-419!2sar"  allowfullscreen="" loading="lazy"></iframe>
          <section class="info">
					<p>Av. Corrientes 1174, CABA</p>
					<p>Telefono: (011)-1111-1111</p>
					<h3>Horarios de atención</h3>
					<p>Todos los días de 8am a 0:30pm</p>
        </section>
          </div>
          <div class="cent-der" id="desaparece"><img class="logo" src="../assets/logoPizzeria.png" alt="logoPizzeria"></div>
          <div class="cent-izq" id="desaparece"><img class="logo" src="../assets/logoPizzeria.png" alt="logoPizzeria"></div>
        </div>

        <fieldset id="container-sucursales">
          <legend class="legend"><h2>Otras Sucursales</h2></legend>

        <section class="sucursal">
          <h2>Villa Devoto</h2>
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.1723934011247!2d-58.51540828544505!3d-34.5998019804605!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb7cbeeda8bc9%3A0x5a68005d8ea0abeb!2sMercedes%204111%2C%20C1419BGK%20CABA!5e0!3m2!1ses-419!2sar!4v1635520506507!5m2!1ses-419!2sar" allowfullscreen="" loading="lazy"></iframe>					
          <p>Av. Mercedes 4111, CABA </p>
					<p>Telefono: (011)-1123-1234</p>
					<h4>Horarios de atención</h4>
					<p>Todos los días de 10am a 0:30pm</p>
        </section>

        <section class="sucursal">
          <h2>Villa del Parque</h2>
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.962756050363!2d-58.4941836854449!3d-34.60510328045908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb626afd2330d%3A0xb4c21d2c251cfe7a!2sCuenca%202651%2C%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1635520619019!5m2!1ses-419!2sar"  allowfullscreen="" loading="lazy"></iframe>					
          <p>Cuenca 2651, CABA </p>
					<p>Telefono: (011)-1123-1234</p>
					<h4>Horarios de atención</h4>
					<p>Todos los días de 10am a 0:30pm</p>
        </section>

        <section class="sucursal">
          <h2>Palermo</h2>
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1642.337652091435!2d-58.42599444203254!3d-34.58708149511592!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb586e4392ec3%3A0xd9779bb5e1c64f32!2sSoler%204660%2C%20C1425BXD%20CABA!5e0!3m2!1ses-419!2sar!4v1635520684470!5m2!1ses-419!2sar"  allowfullscreen="" loading="lazy"></iframe>			
          <p>Soler 4660, CABA </p>
					<p>Telefono: (011)-1123-1234</p>
					<h4>Horarios de atención</h4>
					<p>Todos los días de 10am a 0:30pm</p>
        </section>

        <section class="sucursal">
          <h2>Belgrano</h2>
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3285.5669776195164!2d-58.457115585446246!3d-34.56451768046963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb5d171674abf%3A0xd638cab5a127361f!2sAv.%20Cabildo%2C%20C1426%20CABA!5e0!3m2!1ses-419!2sar!4v1635520233628!5m2!1ses-419!2sar" allowfullscreen="" loading="lazy"></iframe>				
          <p>Av. Cabildo 1426, CABA </p>
					<p>Telefono: (011)-1123-1234</p>
					<h4>Horarios de atención</h4>
					<p>Todos los días de 10am a 0:30pm</p>
        </section>

        <section class="sucursal">
          <h2>Caseros</h2>
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.781607658352!2d-58.57114258544463!3d-34.609683580457926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb83da6b74569%3A0xe7f7808aea15f6f0!2sAv.%20Bartolom%C3%A9%20Mitre%205061%2C%20B1678AVV%20Caseros%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1635520932016!5m2!1ses-419!2sar"  allowfullscreen="" loading="lazy"></iframe>     
          <p>Av. Bartolome Mitre 5061 (GBA) </p>
					<p>Telefono: (011)-1123-1234</p>
					<h4>Horarios de atención</h4>
					<p>Todos los días de 10am a 0:30pm</p>
        </section>

        <section class="sucursal">
          <h2>Almagro</h2>
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1641.9963077049442!2d-58.42627148159302!3d-34.604348241722064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccb7dbf02b8b7%3A0x2d8fd806d86ed046!2sChoco%20M%C3%A1nni!5e0!3m2!1ses-419!2sar!4v1635520839163!5m2!1ses-419!2sar"  allowfullscreen="" loading="lazy"></iframe>			
          		<p>Sarmiento 4226, CABA </p>
					<p>Telefono: (011)-1123-1234</p>
					<h4>Horarios de atención</h4>
					<p>Todos los días de 10am a 0:30pm</p>
        </section>

        </div>


      </main>

        <footer>
            <section id="redes">
                <h3>Síguenos en:</h3>
                <div id="btn-redes">
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter-square"></i>
                    <i class="fab fa-instagram-square"></i>
                </div>
            </section>
        
            <section id="derechos">
                <p>Pizzerías El Manjar 2021</p>
                <p>Todos los derechos reservados©</p>
            </section>
        
            <a href="https://wa.me/5491158277881" target="_blank" class="material-icons outlined" id="btn-wapp">whatsapp</a>
        </footer>
        <script src="https://kit.fontawesome.com/48e5edb65c.js" crossorigin="anonymous"></script>
    </body>
</html>