/*DISPLAY GENERAL*/
main{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2rem;
    justify-content: center;
    background-color: cornflowerblue;
}

#menuses{
    display: grid; 
    grid-template-columns: 50% 50%; 
    grid-template-rows: 50% 50%; 
}

.sect-main{
    width: 30vw;
    height: 35vw;
    border: 1rem double black;
    border-radius: 10%;
    margin: 3rem;
    background-color: blueviolet;   
}

.titulos-menus{
    text-align: center;
    font-size: 1vw;
}

.img-responsive {
    width: 80%; 
}


.div-main{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: flex-start;
    align-items: center;
    margin-left: 3rem;
    
}
.div-main li{
    font-size: 2vw;
}


/*MENU RESPONSIVE*/
.menu-responsive label{
    display: none;
    height: 30px;
    font-size: 25px;
    padding: 10px;
    
}

.botones-menu{
    display: none;
}

.menu-responsive span{
    margin-bottom: 100px;
}

.flecha{
    font-size: 48px;  
}
label u{
    padding-top: 8px;
}




@media (max-width: 1100px){

    .sect-main{
        height: 40vw;

    }
    .titulos-menus{
        font-size: 1.25vw;
    }
    .div-main li{
        font-size: 2.5vw;
        margin-left: -2.25rem;
    }
}



@media (max-width: 768px){

    main{
        flex-direction: column;
        align-items: flex-start;
        background-color: chocolate;
        padding: 0.5rem;
        margin: 1rem;
        
    }
    #menuses{
        display: flex;
        flex-direction: column;
    }
    .sect-main{
        display: none;
        background-color: brown;
        width: 52vw;
        height: auto;
        margin-left: 18vw;
    }
    /*EMI SI LEES ESTO PERDON POR CENTRAR EL CONTENEDOR A OJO
     TE JURO QUE INTENTE DE TODO Y NO ME SALÍA*/
    
    .img-responsive {
        width: 100%;
        height: auto;
    }
    .div-main li{
        font-size: 5vw;
        margin-left: -1.25vw;
    }
    .menu-responsive{
        display: flex;
        flex-direction: column;
    }
   
    
    .menu-responsive label{
        display: flex;
    }

    
    .titulos-menus{
        font-size: 3vw;
    }
    
    #btn-menu-pizza:checked ~ .sect-main {
        display: block;
    }
    #btn-menu-empanadas:checked ~ .sect-main {
        display: block;
    }
    #btn-menu-bebidas:checked ~ .sect-main {
        display: block;
    }
    #btn-menu-postres:checked ~ .sect-main {
        display: block;
    }
}

@media (max-width: 425px){
    .sect-main{
        background-color: cadetblue;
        margin-left: 15vw;
    }

    .div-main li{
        margin-left: -3rem;
    }
}