:root {
    --backgroundColor: rgb(86, 101, 115);
    --colorAmarillo: rgb(241, 196, 15);
    --colorCarrito: rgb(243, 156, 18);
    --verdewapp:rgb(9, 165, 9);
}

.containerCarrusel {
    margin: 10px 10px 50px;
    padding: 30px;
    height: 60vh;
}

.carrusel {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
    position: relative;
    width: 100%;
    height: inherit;
}

ul.slider li {
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .7s;
    background:#fff;
}

ul.slider li img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menuCarrusel {
    text-align: center;
    margin: 20px;
}

.menuCarrusel li{
    display: inline-block;
    text-align: center;
}

.menuCarrusel li a{
    display: inline-block;
    color: var(--colorAmarillo);
    font-family: 'Lobster', cursive;
    text-decoration: none;
    background-color: var(--backgroundColor);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 100%;
}

#delivery {
    display: block;
    margin: 10px auto;
    width: 95%;
    border: 15px solid var(--backgroundColor);
}

/* main{
    display: flex;
    align-items:center;
    margin: 2rem;
    flex-wrap:wrap;

}
.s-main{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 30rem;
    justify-content:space-around;
    align-items: center;
    border: 0.1rem solid black;
    border-radius: 10%;
    margin: 1rem;
} */