:root {
    --backgroundColor: rgb(86, 101, 115);
    --colorAmarillo: rgb(241, 196, 15);
    --colorCarrito: rgb(243, 156, 18);
    --verdewapp:rgb(9, 165, 9);
    --colorBordeSeccion: rgb(86, 101, 115)
}

.fieldset {
    border: 0.3rem double var(--colorBordeSeccion);
    border-radius: 5%;
    text-align: center;
    margin: 0px 1rem 5rem;
}

.legend {
    font-family: 'Lobster', cursive;
    font-size: xx-large;
    text-shadow: 1px 1px var(--colorAmarillo);
}

.containerCarrusel {
    margin: 10px 10px 50px;
    padding: 30px;
    height: 60vh;
}

.carrusel {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carruselImg2 {
    display: none;
    border-radius: 5%;
}


ul.slider{
    position: relative;
    width: 100%;
    height: inherit;
}

ul.slider li {
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .7s;
    background:#fff;
}

.carruselImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

ul.slider li:first-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
}

.menuCarrusel {
    text-align: center;
    margin: 20px;
}

.menuCarrusel li{
    display: inline-block;
    text-align: center;
}

.menuCarrusel li a{
    display: inline-block;
    color: var(--colorAmarillo);
    font-family: 'Lobster', cursive;
    text-decoration: none;
    background-color: var(--backgroundColor);
    padding: 10px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    border-radius: 50%;
}

#delivery {
    display: block;
    width: 95%;
    margin: auto;
    border: 15px solid var(--backgroundColor);
    border-radius: 5%;
}

#mapa h3, #mapa p {
    font-family: 'Lemonada', cursive;
}

#mapa iframe {
    width: 70%;
    height: 40vh;
    border: 1px solid;
    border-radius: 5%;
}

@media (max-width: 640px) {
    .carruselImg {
        display: none;
    }

    .carruselImg2 {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .fieldset {
        margin: 0px 1rem 1rem;
    }
}

@media (max-width: 410px) {
    h2 {
        font-size: 1em;
    }

    #delivery {
        border: 5px solid var(--backgroundColor);
    }
}

@media (max-width: 358px) {
    .menuCarrusel li a {
        padding: 0.2em;
    }
}